# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Django
media/
staticfiles/
*.log
local_settings.py

# Node
node_modules/
dist/
build/
*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
