SECRET_KEY=your-secret-key-here
DEBUG=True
DB_NAME=nexus_db
DB_USER=nexus_user
DB_PASSWORD=nexus_pass
DB_HOST=localhost
DB_PORT=5432
REDIS_URL=redis://127.0.0.1:6379/0
NEXUS_SUPERUSER_EMAIL=eng.murad.ghannam@gmail.com
NEXUS_SUPERUSER_PASSWORD=ghannam2020
