# Railway Environment Variables
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=False
DATABASE_URL=your-postgresql-url-from-railway
REDIS_URL=your-redis-url-from-railway

# Railway specific
RAILWAY_ENVIRONMENT=production
RAILWAY_STATIC_URL=https://web-production-38215.up.railway.app

# Superuser (auto-created on migrate)
NEXUS_SUPERUSER_EMAIL=eng.murad.ghannam@gmail.com
NEXUS_SUPERUSER_PASSWORD=ghannam2020
