Django>=5.0,<5.2
djangorestframework>=3.14
django-cors-headers>=4.3
celery>=5.3
redis>=5.0
channels>=4.0
channels-redis>=4.1
django-filter>=23.5
drf-spectacular>=0.27
python-dotenv>=1.0
psycopg2-binary>=2.9
pytest>=8.0
pytest-django>=4.7
factory-boy>=3.3

django-redis>=5.4

Pillow>=10.0

dj-database-url>=2.1
